[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pipdeptree = "*"
django-nose = "*"

[packages]
django-admin = "*"
django = "*"
requests = "*"
python3-saml= "*"
django-request = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
