{% extends "dashboard/base.html" %}
{% block title %}Home{% endblock title %}
{% block content %}
  {% load static %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Self-Service Portal</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

              <!-- Approach -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                  <p>The Self-Service Portal is an easy to use front-end for interacting with Dynatrace's APIs. Currently supporting CRUD operations for Maintenance Windows.</p>
                  <p class="mb-0">The front end is based off of SB Admin 2 which is a free, open source, Bootstrap 4 admin theme. Updates to this project can be found <a href="https://github.com/geoteo/dt-self-service">here</a>.</p>
                  <p class="mb-0">The back end utilizes the Dynatrace-API-Framework which can be found <a href="https://gitlab.com/APhiliposeDyn/dynatrace-fire-team">here</a>.</p>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% endblock content %}

{% block page_level_additions %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
    <script>
      $( document ).ready(function() {
        $( '#nav-dashboard' ).addClass("active");
      })
    </script>
{% endblock page_level_additions %}
