{% extends "setup/base.html" %}
{% block title %}Setup Completed{% endblock title %}
{% block content %}
{% load static %}
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Step 3: All done!</h1>

  <!-- Basic Card Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Setup Completed</h6>
    </div>
    <div class="card-body">
      <p>We're all good, please restart to apply settings!</p>
    </div>
  </div>
</div>
{% endblock content %}

{% block page_level_additions %}
<!-- Page level plugins -->

{% endblock page_level_additions %}