{% extends "dashboard/base.html" %}
{% block title %}Create Maintenance Window{% endblock title %}
{% block content %}
{% load static %}
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Maintenance Windows</h1>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Configuration</h6>
      </div>
      <div class="card-body">
        <p>Maintenance windows are typically planned, recurring periods of system downtime during which your DevOps team can perform preventative maintenance and system upgrades outside of peak traffic hours. To avoid having Dynatrace report on any performance anomalies that may result from such events, set up maintenance windows below that correspond with your organization's maintenance window schedule.</p>
      <!-- Name your maintenance window text field--->
        <form id="create_form" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Maintenance Window</legend>
            {% for field in form%}
              <div id="div_id_{{ field.name }}">
                <div class="small mb-1" for="{{ field.name }}">{{ field.label }}</div>
                <div class="mb-1">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
            <div id="form_set">
            {% for entity_form in formset.forms %}
              {{ entity_form }}
            {% endfor %}
            </div>
            <div class="input-group-append" id="add_more_div">
              <button type="button" style="margin:5px;" class="btn btn-success add-form-row" id="add_more_button">+</button>
              <button type="button" style="margin:5px;" class="btn btn-danger del-form-row" id="remove_prev_button">-</button>
            </div>
            <div id="empty_form" style="display:none">
              <div>
                {{ formset.empty_form }}
              </div>
            </div>
          </fieldset>
          <button type="submit" id="submit_create" class="btn btn-success mb-4">Submit</button>
        </form>
        <div id="status_area"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_level_additions %}
    <!-- Page level plugins -->
    <script>
      $( document ).ready(function() {
        //$( '#collapseTwo' ).addClass("show");
        $( '#nav-maintenance' ).addClass("active");
        $( '#nav-maintenance-create' ).addClass("active");
        
      })
    </script>
    <script>
      conditional_day_of_week = $("#div_id_window_day_of_week")
      conditional_day_of_month = $("#div_id_window_day_of_month")
      conditional_start_time = $("#div_id_window_start_time")
      conditional_duration = $("#div_id_window_duration")

      function hide_unused_fields(){
        ($('#id_window_recurrence').val() === "WEEKLY") ? conditional_day_of_week.show() : conditional_day_of_week.hide();
        ($('#id_window_recurrence').val() === "MONTHLY") ? conditional_day_of_month.show() : conditional_day_of_month.hide();
        if ($('#id_window_recurrence').val() !== "ONCE") {
          conditional_start_time.show(); 
          conditional_duration.show(); 
        } else {
          conditional_start_time.hide(); 
          conditional_duration.hide(); 
        }
      }
      hide_unused_fields();
      $('#id_window_recurrence').on('change', hide_unused_fields);
    </script>
    <script>
      $('#add_more_button').click(function() {
        console.log("clicked");
        console.log($('#div_id_entity_type-TOTAL_FORMS').val());
        var form_idx = $('#div_id_entity_type-TOTAL_FORMS').val();
        $('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
      });
  </script>

  <script>

    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }

    $("#submit_create").on('click', function(e) {

      e.preventDefault(); // avoid to execute the actual submit of the form.

      var form = $('#create_form');
      var url = form.attr('action');
      var csrftoken = getCookie("csrftoken");
      $.ajax({
            type: "POST",
            url: "/maintenance/submit_create",
            data: form.serialize(), // serializes the form's elements.
            headers: {
              "X-CSRFToken": csrftoken
            },
            success: function(data)
            {
              var status_field = $('#status_area')
              status_field.removeClass()
              status_field.empty();

              status_field.addClass("alert alert-success")
              status_field.append("<strong>Success!</strong")

            },
            error: function(data)
            {
              var status_field = $('#status_area')
              status_field.removeClass()
              status_field.empty();

              status_field.addClass("alert alert-danger")
              status_field.append("<strong>Failed! (Do you have all required Inputs?)</strong")

            }
          });
    });
  </script>
<script src="{% static '\admin\js\getTenantFromCluster.js' %}"></script>
{% endblock page_level_additions %}