{% extends "dashboard/base.html" %}
{% block content %}
  {% load static %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-4 text-gray-800">Maintenance Windows</h1>
              <!-- Basic Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Configuration</h6>
                </div>
                <div class="card-body">
                  <p>Maintenance windows are typically planned, recurring periods of system downtime during which your DevOps team can perform preventative maintenance and system upgrades outside of peak traffic hours. To avoid having Dynatrace report on any performance anomalies that may result from such events, set up maintenance windows below that correspond with your organization's maintenance window schedule.</p>
                <!-- Name your maintenance window text field--->
                <div class="form-group">
                  <div class="small mb-1">Name your maintenance window</div>
                  <input type="text" class="form-control form-control-user" id="maintTitle" placeholder="E.g. reason of maintenance">
                </div>
                <!-- Name your maintenance window text field-->
                <!-- Description text field--->
                <div class="form-group">
                  <div class="small mb-1">Description</div>
                  <input type="text" class="form-control form-control-user" id="desc" placeholder="">
                </div>
                <!-- Description text field-->
                  <!-- Dropdown Maintenance Type -->
                  <div class="small mb-1">Maintenance Type</div>
                  <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Planned
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Planned</a>
                      <a class="dropdown-item" href="#">Unplanned</a>
                    </div>
                  </div>
                <!-- Dropdown -->
                  <!-- Dropdown Recurrence -->
                  <div class="small mb-1">Recurrence</div>
                  <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Once only
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Daily</a>
                      <a class="dropdown-item" href="#">Day of the week</a>
                      <a class="dropdown-item" href="#">Day of month</a>
                      <a class="dropdown-item" href="#">Once only</a>
                    </div>
                  </div>
                <!-- Dropdown -->
                  <!-- Dropdown Recurrence -->
                  <div class="small mb-1">Maintenance Start</div>
                  <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Month/Day/Year
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Daily</a>
                      <a class="dropdown-item" href="#">Day of the week</a>
                      <a class="dropdown-item" href="#">Day of month</a>
                      <a class="dropdown-item" href="#">Once only</a>
                    </div>
                  </div>
                <!-- Dropdown -->
                  <!-- Dropdown Recurrence -->
                  <div class="small mb-1">Maintenance End</div>
                  <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Month/Day/Year
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Daily</a>
                      <a class="dropdown-item" href="#">Day of the week</a>
                      <a class="dropdown-item" href="#">Day of month</a>
                      <a class="dropdown-item" href="#">Once only</a>
                    </div>
                  </div>
                <!-- Dropdown -->
                  <!-- Dropdown Recurrence -->
                  <div class="small mb-1">Problem detection and alerting</div>
                  <div class="dropdown mb-4">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Detect problems and alert
                    </button>
                    <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Detect problems and alert</a>
                      <a class="dropdown-item" href="#">Detect problems but don't alert</a>
                      <a class="dropdown-item" href="#">Disable problem detection during maintenance</a>
                    </div>
                  </div>
                <!-- Dropdown -->
                  <button class = "btn btn-success" id="submitWindow">Submit</button>
                </div>
              </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->
{% endblock content %}