{% extends "dashboard/base.html" %}
{% block title %}Create Maintenance Window{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Maintenance Windows</h1>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Windows</h6>
      </div>
      <div class="card-body">
        <p>Maintenance windows are typically planned, recurring periods of system downtime during which your DevOps team can perform preventative maintenance and system upgrades outside of peak traffic hours. To avoid having Dynatrace report on any performance anomalies that may result from such events, set up maintenance windows below that correspond with your organization's maintenance window schedule.</p>
      <!-- Name your maintenance window text field--->
        <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Configured maintenance windows</legend>
            {% for field in form%}
              <div id="div_id_{{ field.name }}">
                <div class="small mb-1" for="{{ field.name }}">{{ field.label }}</div>
                <div class="mb-1">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
          </fieldset>
          <button type="submit" class="btn btn-success">View</button>
        </form>
      <div>
        {% for window in list_of_windows %}
          {{ window.id }}
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_level_additions %}
    <!-- Page level plugins -->
    <script>
      $( document ).ready(function() {
        //$( '#collapseTwo' ).addClass("show");
        $( '#nav-maintenance' ).addClass("active");
        $( '#nav-maintenance-view' ).addClass("active");
        
      })
    </script>
    <script>
      conditional_day_of_week = $("#div_id_window_day_of_week")
      conditional_day_of_month = $("#div_id_window_day_of_month")
      conditional_start_time = $("#div_id_window_start_time")
      conditional_duration = $("#div_id_window_duration")

      function hide_unused_fields(){
        ($('#id_window_recurrence').val() === "WEEKLY") ? conditional_day_of_week.show() : conditional_day_of_week.hide();
        ($('#id_window_recurrence').val() === "MONTHLY") ? conditional_day_of_month.show() : conditional_day_of_month.hide();
        if ($('#id_window_recurrence').val() !== "ONCE") {
          conditional_start_time.show(); 
          conditional_duration.show(); 
        } else {
          conditional_start_time.hide(); 
          conditional_duration.hide(); 
        }
      }
      hide_unused_fields();
      $('#id_window_recurrence').on('change', hide_unused_fields);
    </script>
{% endblock page_level_additions %}