{% extends "dashboard/base.html" %}
{% block title %}Create Maintenance Window{% endblock title %}
{% block content %}
{% load static %}
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Maintenance Windows</h1>
    <!-- Basic Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">View Windows</h6>
      </div>
      <div class="card-body">
        <p>Maintenance windows are typically planned, recurring periods of system downtime during which your DevOps team can perform preventative maintenance and system upgrades outside of peak traffic hours. To avoid having Dynatrace report on any performance anomalies that may result from such events, set up maintenance windows below that correspond with your organization's maintenance window schedule.</p>
      <!-- Name your maintenance window text field--->
        <form id="get_window_list" method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
            <legend class="border-bottom mb-4">Configured maintenance windows</legend>
            {% for field in form%}
              <div id="div_id_{{ field.name }}">
                <div class="small mb-1" for="{{ field.name }}">{{ field.label }}</div>
                <div class="mb-1">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
          </fieldset>
          <button type="submit" id="get_all_windows"class="btn btn-success">View</button>
        </form>
        <div class="table-responsive">
          <table class="table table-striped table-bordered dt-responsive nowrap" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
                {% for window in list_of_windows %}
                <tr>
                <td class= "get_window_details"> {{ window.name }} </td>
                <td class= "get_window_details"> {{ window.description }} </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div id="view_single_window">
          <form> 
            <label for="maintenance_window_name">Maintenance Window Name</label><br>
            <input type="text" id="maintenance_window_name" name="maintenance_window_name"><br>
            <label for="maintenance_window_desc">Description</label><br>
            <input type="text" id="maintenance_window_desc" name="Description"><br>
            <label for="window_planned"></label><br>
            <label for="window_plan">Window Planned</label><br>
            <select id="window_plan">
              <option value="PLANNED">PLANNED</option>
              <option value="UNPLANNED">UNPLANNED</option>
            </select><br>
            <label for="window_recurrence">Window recurrence</label><br>
            <select id="window_recurrence">
              <option value="once">Once only</option>
              <option value="daily">Daily</option>
              <option value="day_of_week">Day of week</option>
              <option value="day_of_month">Day of month</option>
            </select><br>
            <label for="window_suppression">Window suppression</label><br>
            <select id="window_suppression">
              <option value="detect_problems_and_alert">Detect Problems and alert</option>
              <option value="detect_problems_but_dont_alert">Detect problems but don't alert</option>
              <option value="disable_problem_detection">Disable problem detection during maintenance</option>
            </select><br>
            <label for="maintenance_start">Maintenance Start (Format Example: 2019-01-15 23:00)</label><br>
            <input type="text" id="maintenance_start" name="maintenance_start"><br>
            <label for="maintenance_end">Maintenance End (Format Example: 2019-01-15 23:00)</label><br>
            <input type="text" id="maintenance_end" name="maintenance_end"><br>
            <label for="entity_type">Entity Type</label><br>
            <select id="entity_type">
              <option value="application">Entity Filter (optional)</option>
              <option value="daily">Service</option>
            </select><br>
          </form>
        </div>
        <div id="status_area"></div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block page_level_additions %}
    <!-- Page level plugins -->
    <!-- <script src ="https://code.jquery.com/jquery-3.3.1.js"></script> -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
    <script>
      $( document ).ready(function() {
        //$( '#collapseTwo' ).addClass("show");
        $( '#nav-maintenance' ).addClass("active");
        $( '#nav-maintenance-view' ).addClass("active");
        
      })
    </script>
    <script>
      conditional_day_of_week = $("#div_id_window_day_of_week")
      conditional_day_of_month = $("#div_id_window_day_of_month")
      conditional_start_time = $("#div_id_window_start_time")
      conditional_duration = $("#div_id_window_duration")

      function hide_unused_fields(){
        ($('#id_window_recurrence').val() === "WEEKLY") ? conditional_day_of_week.show() : conditional_day_of_week.hide();
        ($('#id_window_recurrence').val() === "MONTHLY") ? conditional_day_of_month.show() : conditional_day_of_month.hide();
        if ($('#id_window_recurrence').val() !== "ONCE") {
          conditional_start_time.show(); 
          conditional_duration.show(); 
        } else {
          conditional_start_time.hide(); 
          conditional_duration.hide(); 
        }
      }
      hide_unused_fields();
      $('#id_window_recurrence').on('change', hide_unused_fields);
    </script>
    <script src="{% static '\js\getTenantFromCluster.js' %}"></script>
    <script src="{% static '\js\mWindowDetails.js' %}"></script>
{% endblock page_level_additions %}